# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular data science languages
- Common data science libraries
- Data science tools
- basic arithmetic in python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. ggplot
3. pandas
4. matplotlib

| Data Science tools |
| --- |
| Jupyter Notebook |
| Github |
| R studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Muhammad